<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/all.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COSEED Quiz</title>
    </head>
    <body class="page-index">
        <div class="container">
            <p class="text-center">
                <a class="btn btn-large btn-default" href="/test/difficulty">Take a new test</a>
            </p>
        </div>

        <script type="text/javascript" src="/static/js/all.js"></script>
    </body>
</html>
