<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/all.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="container">
            <div class="row header">
                <div class="col-xs-2">
                    <p class="x-of-y">{{ guess_id+1 }} of {{ test.selections | length }}</p>
                </div>

                <div class="col-xs-5">
                    <form class="guess-form bot guess-{% if is_bot == False %}in{% endif %}correct" method="post" action="/test/{{ test.id }}/guess">
                        <input type="hidden" name="tuser_id" value="{{ tuser.id }}" />
                        <input type="hidden" name="botornot" value="1" />
                        <input class="btn btn-default btn-lg" type="submit" value="Bot" />
                    </form>
                </div>

                <div class="col-xs-5">
                    <form class="guess-form human guess-{% if is_bot %}in{% endif%}correct" method="post" action="/test/{{ test.id }}/guess">
                        <input type="hidden" name="tuser_id" value="{{ tuser.id }}" />
                        <input type="hidden" name="botornot" value="0" />
                        <input class="btn btn-default btn-lg" type="submit" value="Human" />
                    </form>
                </div>

            </div> <!-- .row -->

            <div class="row profile">
                <div class="col-md-3">
                    <p class="icon"><img src="{{ tuser.profile_image_url }}" /></p>
                </div>
                <div class="col-md-9">
                    <p class="name">{{ tuser.full_name }}</p>
                    <p class="screen-name">@{{ tuser.screen_name }}</p>
                    <p class="bio">{{ tuser.bio }}</p>

                    {% if tuser.website %}
                    <p class="website"><a href="#">{{ tuser.website }}</a></p>
                    {% endif %}
                    <p class="location">{{ tuser.location }}</p>

                    <div class="row">
                        <dl>
                            <div class="col-md-4">
                                <dt>TWEETS</dt>
                                <dd>{{ tuser.total_tweets }}</dd>
                            </div>

                            <div class="col-md-4">
                                <dt>FOLLOWING</dt>
                                <dd>{{ tuser.following }}</dd>
                            </div>

                            <div class="col-md-4">
                                <dt>FOLLOWERS</dt>
                                <dd>{{ tuser.followers }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

            {% for tweet in tweets %}
            <div class="row tweet-card">
                <div class="col-xs-12">
                    <p class="timestamp">{{ tweet.timestamp }}</span>
                    <p>{{ tweet.text }}</p>
                </div>
            </div>
            {% endfor %}

        </div> <!-- .container -->

        <script type="text/javascript" src="/static/js/all.js"></script>
    </body>
</html>
