<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/all.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COSEED Quiz - Choose difficulty</title>
    </head>
    <body class="page-index">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center"><h2>Choose difficulty</h2></div>
            </div>

            <div style="margin-bottom: 30px;">&nbsp;</div>

            <div class="row">

                <div class="col-md-4">
                    <!-- easy -->
                    <form class="form-inline text-center" method="post" action="/test/new">
                        <input type="hidden" name="difficulty" value="easy" />
                        <input type="submit" class="btn btn-large btn-success" value="Easy" />
                    </form>
                </div>

                <div class="col-md-4">
                    <!-- medium -->
                    <form class="form-inline text-center" method="post" action="/test/new">
                        <input type="hidden" name="difficulty" value="medium" />
                        <input type="submit" class="btn btn-large btn-primary" value="Medium" />
                    </form>
                </div>

                <div class="col-md-4">
                    <!-- hard -->
                    <form class="form-inline text-center" method="post" action="/test/new">
                        <input type="hidden" name="difficulty" value="hard" />
                        <input type="submit" class="btn btn-large btn-danger" value="Hard" />
                    </form>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="/static/js/all.js"></script>
    </body>
</html>
