<!doctype html>
<html>
    <head>
        <title>Tracker</title>
        <script type="text/javascript" src="/static/js/react.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

        <link type="text/css" rel="stylesheet" href="/static/css/tracker.css" />
        <link rel="shortcut icon" href="/static/img/coseed-favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="container"></div>
        <script type="text/babel" src="/static/js/tracker.js"></script>
    </body>
</html>
