.guess-header {
    background-color: #bbb;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 2;
    margin: 0;
}
.guess-header.affix-top {
    position: absolute;
    left: 0;
}

.guess-header.affix {
    position: fixed;
    top: 0;
    left: 0;
}

.guess-header .btn-default {
    color: white;
    background: black;
}

.guess-header .btn-default:active {
    color: white;
    background: #888;
}

.guess-header .guess-form .glyphicon {
    display: none;
}

.guess-header .guess-form-guessed .glyphicon {
    display: inline-block;
}

.guess-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #bbb;
    text-align: center;
    padding: 10px;
    z-index: 2;
    margin: 0;
}

.profile {
    margin-top: 100px;
    margin-bottom: 30px;
}

.icon {
    text-align: center;
}

.icon img {
    max-width: 200px;
    max-height: 200px;
}

.x-of-y {
    line-height: 46px;
    vertical-align: middle;
    margin: 0;
}

.lessons-modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.lessons-modal-global {
    position: fixed;
}

.lessons-modal-header {
    position: absolute;
}

.poke {
    position: absolute;
    z-index: 1;
}
