#leftpanel {
    width: 20%;
    min-width: 200px;
    vertical-align: top;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #EEE;
    padding: 20px 0;
}

#mainpanel {
    width: 80%;
    min-width: 800px;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    height: 100%;
    left: calc(20% + 40px);
    top: 0;
    padding: 20px;
    overflow: scroll;
}

#leftpanel .nav {
    margin: 10px 0;
    padding: 5px 20px;
}

#leftpanel .nav-active {
    background: #444;
    color: #eee;
}

#leftpanel .nav li {
    list-style-type: none;
}

#leftpanel .nav .header .glyphicon-plus-sign {
    float: right;
    color: #aaa;
}

#leftpanel ul .glyphicon.glyphicon-remove {
    float: right;
    color: #aaa;
}

#leftpanel .nav.nav-loading .glyphicon-refresh {
    float: right;
    color: #bbb;
}

#leftpanel .banner {
    font-style: italic;
}

#leftpanel .header {
    text-transform: uppercase;
}

#leftpanel .entries form {
    display: inline;
}

#leftpanel .entries input {
    width: calc(100% - 20px);
    background: #eee;
    border: 0;
    border-bottom: 1px solid #bbb;
}

#leftpanel .entries input:focus {
    outline: none;
    border-bottom-color: #CEA05C;
}
