#leftpanel {
    width: 20%;
    min-width: 200px;
    vertical-align: top;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #EEE;
    padding: 20px 0;
    position: fixed;
    overflow-y: scroll;
}

#mainpanel {
    width: 80%;
    min-width: 800px;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    height: 100%;
    left: 20%;
    top: 0;
    padding: 0;
    overflow: scroll;
}

#leftpanel .nav {
    margin: 16px 0;
}

#leftpanel .nav .header {
    padding: 5px 20px 5px 10px;
    display: block;
}

#leftpanel .nav.firehose .header {
    padding: 0;
    display: inline-block;
}

#leftpanel .nav.firehose .glyphicon {
    padding: 0;
}

#leftpanel .nav.firehose {
    padding: 5px 5px 5px 10px;
}

#leftpanel .nav-active {
    background: #444;
    color: #eee;
}

#leftpanel .nav .entries {
    margin-top: 15px;
}

#leftpanel .nav .header .glyphicon-plus-sign {
    float: right;
    color: #888;
    cursor: pointer;
}

#leftpanel ul .glyphicon.glyphicon-remove {
    float: right;
    color: #daa;
    cursor: pointer;
}

#leftpanel .nav.nav-loading .glyphicon-refresh {
    float: right;
    color: #bbb;
    cursor: pointer;
}

#leftpanel .banner {
    font-style: italic;
}

#leftpanel .header {
    text-transform: uppercase;
}

#leftpanel .entries form {
    width: calc(100% - 15px);
}

#leftpanel .nav .entries ul {
    padding: 0;
}

#leftpanel .nav .entries li {
    list-style-type: none;
    padding: 2px 20px 2px 30px;
}

#leftpanel .entries li, #leftpanel .firehose, #leftpanel .guesses {
    cursor: pointer;
}

#leftpanel .firehose.nav-active {
    cursor: inherit;
}

#leftpanel .entries input {
    width: calc(100% - 20px);
    background: #eee;
    border: 0;
    border-bottom: 1px solid #bbb;
}

#leftpanel .entries input:focus {
    outline: none;
    border-bottom-color: #CEA05C;
}

#leftpanel .entries ul li > * {
    line-height: 25px;
    display: inline-block;
    top: 0;
    vertical-align: top;
}

#leftpanel .glyphicon.glyphicon-pause,
#leftpanel .glyphicon.glyphicon-play {
    cursor: pointer;
    color: white;
}

.tweet {
    padding: 15px 15px 15px 75px;
    margin: 0;
    position: relative;
}

.tweet:hover {
    background: #F0F0F0;
}
.tweet:hover .userinfo .screenname {
    text-decoration: underline;
    cursor: pointer;
}
.tweet:hover .profile-img {
    cursor: pointer;
    border: 1px solid white;
    outline: 1px solid black;
    width: 37px;
    height: 37px;
    top: calc(50% - (37px / 2));
    left: 14px;
}

.tweet .profile-img {
    position: absolute;
    top: calc(50% - (35px / 2));
    left: 15px;
    width: 35px;
    height: 35px;
}

.tweet .userinfo {
    display: block;
}

.tweet .userinfo .fullname {
    font-weight: bold;
    margin-right: 10px;
}

.tweet img {
    width: 35px;
    margin-right: 25px;
}

.tweet p {
    display: inline-block;
    margin: 0;
}

#profilepanel .top .profile-photo {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-right: 30px;
    border-bottom: 1px solid #ddd;
}

#profilepanel .top .mark-as-bot {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 30px;
}

#profilepanel .top .profile-photo img {
    width: 150px;
    max-height: 150px;
    float: left;
}

#profilepanel .top .profile-info {
    display: inline-block;
    vertical-align: top;
}

#profilepanel .top h1,
#profilepanel .top h2
{
    vertical-align: top;
    margin: 0;
}

#profilepanel .no-data {
    color: #888;
}

#profilepanel .no-data:after {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    content: "(none)";
}

#mainpanel .loading {
    padding: 50px;
}

#profilepanel .loading {
    padding: 50px;
}

#profilepanel {
    border-bottom: 1px solid #ddd;
}

#profilepanel .loading:before {
    content: "Loading profile...";
}

.nohide {
    display: inherit;
}

.hide {
    display: none;
}
